/* CSS for benchmark web form */

#benchmark_input {
    margin-bottom: 20px;
    border: 2px solid blue; /* Add a solid blue border around the image */
    border-radius: 5px; /* Add border-radius to give a rounded corner effect */
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  select,
  input[type="benchmark1"] {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    box-sizing: border-box; /* Add this line to include padding and border in the width calculation */
  }
  
  input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: blue;
  }
  